*{
  box-sizing: border-box;
}
.footer {
  background-color: #003585;
  box-sizing: border-box;
  margin: 0;
  height: 25vh;
  display: flex;
  bottom: 0;
}
.containerFooter {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}
.rightSideFooter p {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #ffffff;
}
.rightSideFooter {
  width: 30%;
}
.footerBottom {
  display: flex;
  justify-content: space-between;
}
.footerLogo {
  display: flex;
  padding-top: 20px;
}
.leftSideFooter {
  width: 150px;
}
.leftSideFooter .leftButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
