* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header {
  background-color: #003585;
  height: 10vh;
  display: flex;
  align-items: center;
}
.search {
  width: 50%;
  height: 50px;
  border: 1px solid #fff;
  border: 25px;
}
.search input {
  width: 80%;
  height: 100%;
  border: none;
  border-radius: 25px 0px 0px 25px;
  padding-left: 20px;
}
.search button {
  width: 20%;
  height: 100%;
  border: none;
  border-radius: 0px 25px 25px 0px;
  background-color: #003585;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #fff;
  line-height: 21px;
}
.sign a {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  margin-left: 12px;
  color: #ffffff;
  vertical-align: top;
}
.rightSide {
  display: flex;
  width: 14%;
  align-items: center;
  justify-content: space-between;
}
.bag {
  display: flex;
  gap: 5px;
}
.bag span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a7f65c;
  padding: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.profile {
  display: flex;
  gap: 10px;
}
.sign{
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.signIn {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 14px;
  align-items: center;
  display: flex;
}