.rightBanner img {
  width: 550px;
}
* {
  font-family: "Poppins";
}
.containerBanner {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}
.banner {
  background-color: #003585;
  display: flex;
  justify-content: center;
}
.leftBanner {
  width: 309px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.leftBanner h1 {
  width: 200px;
  height: 110px;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.leftBanner .leftButton {
  width: 309px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}
.leftBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  transition: 0.5s;
  width: 144px;
  height: 50px;

  background: #ffffff;
  border-radius: 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: none;
  color: #003585;
  cursor: pointer;
}
.rightBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 144px;
  height: 50px;

  background: #003585;
  border-radius: 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #a7f65c;
  color: #a7f65c;
  cursor: pointer;
}
.leftBtn:hover {
  box-shadow: 2px 2px 2px black;
  transition: 0.5s;
}
.rightBtn:hover {
  box-shadow: 2px 2px 2px black;
  transition: 0.5s;
}
